<div class="container mt-5">
    <div style="text-align: center" *ngIf="!RegisterMode">
      <h1>Something about Samurai Warrior</h1>
      <div class="text-center">
        <button class="btn btn-primary btn-lg" (click)="clickregister()">Register</button>
        <button class="btn btn-info btn-lg" type="button" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">  Learn More</button>
      <div id="collapseBasic" [collapse]="isCollapsed" class="card card-block card-header">
        <div class="well well-lg">Coming Soon ... </div>
      </div>
      <div class="card mx-auto mt-3 border-primary" style="max-width: 18rem;">
        <div class="card-header">Or login as a Guest</div>
        <div class="card-title">Username: Guest</div>
        <div class="card-title">Password: 1234</div>
      </div>
    </div>
  </div>
  <div class="container " *ngIf="RegisterMode">
      <div class="row justify-content-center">
        <div class="col-4">
          <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container" ngStyle]="{'background-image': 'url(' + photo + ')'}">

  </div> -->
  <img src="{{photo}}" class="img-thumbnail mt-3" alt="">