<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h1>Your Profile</h1>    
    </div>
    <div class="col-sm-8">
      <div class="alert alert-info" *ngIf="editForm.dirty">
        <p><strong>Information:</strong> You have made some changes. Any unsaved changes will be lost!</p> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{photoUrl || '../../../../../assets/user.png'}}" alt="{{user.username}}">
        <div class="card-body">
          <strong>ClanOrAlliance:</strong>
          <p>{{user.clanOrAlliance | titlecase}}</p>
        </div>
        <div class="card-footer">
          <div class="btn-group">
            <button [disabled]="!editForm.dirty" class="btn btn-success btn-block" form="editForm">Save Changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading = "Edit Profile">
            <form #editForm="ngForm" (ngSubmit)="updateUser()" id="editForm" >
              <h4>Description</h4>
              <textarea name="description" rows="6" class="form-control" 
              [(ngModel)]="user.description"></textarea>
            </form>
          </tab>
          <tab heading = "Edit Photos">
            <h4>Photos</h4>
            <app-photo-editor [photos]="user.photos" (getMainPhotoChange)="updateMainPhoto($event)"></app-photo-editor>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>